.cim{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tabla{
    width: 80%;
    margin: 0 auto 0 auto;
}
.i{
    color: green;
}
.n{
    color: red;
}
.kozep{
    text-align: center;
}